// 斷點
$pad: 1024px;
$mini-pad: 768px;
$mobile: 420px;

//colors
$o-red:#CD2107;
$o-red-light:#FA6B55;
$o-blue:#4185F4;
$o-blue-light:#2A3772;
$o-black:#060E31;
$o-gray-deep:#9497A6;
$o-gray:#E3E3E4;
$o-gray-light:#F3F4F6;
$o-white:white;

//font
$h2: 36px;
$m-h2: 28px;
$h3: 28px;
$m-h3: 24px;
$h4: 24px;
$m-h4: 20px;
$h5: 20px;
$m-h5: 18px;
$p1: 17px;
$m-p1: 16px;
$p2: 15px;
$m-p2: 14px;
$tag: 13px;
$m-tag: 12px;