<div class="footer-main">
    <div class="footer-content">
        <h4>求職睜大眼 破解詐騙</h4>
        <hr>
        <div class="footer-link">
            <ul>
                <li><p><a href="https://www.1111.com.tw/1000w/fanshome/discuss.asp?cat=fans&msgno=304321">面試經驗談</a></p></li>
                <li><p><a href="https://careermaster.1111.com.tw/careermaster/resume/Home">履歷健診</a></p></li>
                <li><p><a href="https://www.hollandexam.com">Holland 興趣測驗</a></p></li>
                <li><p><a href="https://assessment.1111.com.tw/cstar/index.aspx">九大職能星測驗</a></p></li>
            </ul>
        
            <ul>
                <li><p><a href="https://university.1111.com.tw/zone/university/
                    index.asp?cat=University&act=search&keyword=1&htitle=1&searchText=%E6%B1%82%E8%81%B7">求職有問必答</a></p></li>
                <li><p><a href="https://www.jobsalary.com.tw/">薪資公秤</a></p></li>
                <li><p><a href="https://www.1111.com.tw/JobElves/Index?msgno=304322">求職一指通</a></p></li>
                <li><p><a href="https://careermaster.1111.com.tw/">職涯大師</a></p></li>
            </ul>
                    
            <ul>
                <li><p><a href="https://www.1111.com.tw/search/job">找工作</a></p></li>
                <li><p><a href="https://parttime.1111.com.tw">兼差打工</a></p></li>
            </ul>
        </div>

    </div>

    <div class="footer-app">
        <p>1111人力銀行 找工作APP</p>
        <div class="footer-app-link">
            <div><img src="assets/img/footer-qrcode.png" alt=""></div>
            <div>
                <div><img src="assets/img/footer-appstore.png" alt=""></div>
                <div><img src="assets/img/footer-googleplay.png" alt=""></div>
            </div>
        </div>
    </div>
</div>

